#bookmark-scheduler {
  position: absolute;

  left: 520px;
  top: 120px;

  width: 240px;

  border: 1px #ccc solid;
  border-radius: 3px;
  padding: 10px 18px 20px;
  background: #fff;

  margin-bottom: 300px;

  z-index: 100;

  h4 {
	margin: 15px 0 8px;
  }

  .item-content {
	margin-top: 15px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	font-size: 16px;
	color: #999;
  }

  [data-hour], [data-minute], [data-interval], [data-type] {
	display: inline-block;
	width: 36px;
	text-align: center;
	box-sizing: border-box;
	padding: 2px 0;
	background: #f5f5f5;
	margin: 2px 0;

	cursor: pointer;

	&.selected {
	  background: @bright-blue-2;
	  color: #f0f0f0;
	  opacity: 1;
	}

	&:hover {
	  background: @bright-blue-2;
	  color: #f0f0f0;
	  opacity: 0.8;
	}
  }

  [data-type] {
	padding: 2px 8px;
	width: auto;
  }

  .times {
	table-layout: fixed;
	width: 100%;

	.times-content {
	  .hours, .minutes {
		text-align: center;
	  }
	}
  }

  .calendar {
	text-align: center;
  }
}

.pickmeup {
  border-radius: .4em;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  position: absolute;
  touch-action: manipulation
}

.pickmeup * {
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.pickmeup.pmu-flat {
  position: relative
}

.pickmeup.pmu-hidden {
  display: none
}

.pickmeup .pmu-instance {
  display: inline-block;
  height: 13.8em;
  padding: .5em;
  text-align: center;
  width: 15em
}

.pickmeup .pmu-instance .pmu-button {
  color: #333;
  cursor: pointer;
  outline: none;
  text-decoration: none
}

.pickmeup .pmu-instance .pmu-today {
  color: @bright-blue-2
}

.pickmeup .pmu-instance .pmu-button:hover {
  background: @bright-blue-2;
  color: #f0f0f0;
  opacity: 0.8;
}

.pickmeup .pmu-instance .pmu-not-in-month {
  color: #ccc
}

.pickmeup .pmu-instance .pmu-disabled, .pickmeup .pmu-instance .pmu-disabled:hover {
  cursor: default
}

.pickmeup .pmu-instance .pmu-selected {
  background: @bright-blue-2;
  color: #f0f0f0;
}

.pickmeup .pmu-instance .pmu-not-in-month:hover {
  opacity: 0.3;
}

.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
  background: @bright-blue-2;
  color: #f0f0f0;
  opacity: 0.5;
}

.pickmeup .pmu-instance nav {
  color: #666;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  line-height: 2em
}

.pickmeup .pmu-instance nav *:first-child :hover {
  color: #88c5eb
}

.pickmeup .pmu-instance nav .pmu-prev, .pickmeup .pmu-instance nav .pmu-next {
  display: none;
  height: 2em;
  width: 1em
}

.pickmeup .pmu-instance nav .pmu-month {
  width: 14em
}

.pickmeup .pmu-instance .pmu-years *, .pickmeup .pmu-instance .pmu-months * {
  display: inline-block;
  line-height: 3.6em;
  width: 3.5em
}

.pickmeup .pmu-instance .pmu-day-of-week {
  color: #333;
  cursor: default
}

.pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {
  display: inline-block;
  line-height: 1.5em;
  width: 2em
}

.pickmeup .pmu-instance .pmu-day-of-week * {
  line-height: 1.8em
}

.pickmeup .pmu-instance:first-child .pmu-prev, .pickmeup .pmu-instance:last-child .pmu-next {
  display: block
}

.pickmeup .pmu-instance:first-child .pmu-month, .pickmeup .pmu-instance:last-child .pmu-month {
  width: 13em
}

.pickmeup .pmu-instance:first-child:last-child .pmu-month {
  width: 12em
}

.pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
  display: none
}
