
/* aui imports */
@import "aui/aui-reset";
@import "aui/basic";
@import "aui/aui-page-typography";
@import "aui/aui-page-layout";
@import "aui/aui-page-header";
@import "aui/aui-buttons";
@import "aui/aui-header";
@import "aui/aui-lozenge";
@import "aui/forms";
@import "aui/dropdown2";

.aui-button, a.aui-button, .aui-button:visited {
    height: auto;
}

body .aui-page-panel {
  margin-top: 60px;
  max-width: 90vw;
}

.aui-header .aui-header-logo a {
	text-transform: uppercase;
	line-height: 40px;
	font-size: 20px;

    .outliner-logo {
        width: 25px;
        margin-right: 8px;

        &:before {
            font-size: 20px;
            line-height: 40px;
        }

    }
}


form.aui {
    .field-group .success {
        clear: both;
        color: #14892c;
        display: block;
        margin: 5px 0 0;
    }

  .buttons {
    padding-top: 10px;
  }
}


div.google-login {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  div.buttons {
    padding-top: 0;
  }
  p {
    padding: 0 2px 10px;

  }
  &:before {
    background: #fff;
    content: attr(data-i18n-or);
    display: table;
    font-weight: bold;
    line-height: 1;
    margin: 0 auto;
    padding: 0 5px 6px;
    position: relative;
    text-align: center;
    top: -8px;
    white-space: nowrap;
    content: "or";
  }
}

/* to fix vex non-repaint bug */
.-webkit-repaint {
    opacity: 0.999;
}