
.header .doc-toggler {
  margin: 8px 0;
  position: absolute;
  left: 300px;

  .buttons {
	margin-left: 8px;
	span {
	  display: inline-block;
	  border: 1px #ccc solid;
	  padding: 1px 8px;
	  background: #fff;
	  transition: background 300ms;
	  cursor: pointer;

	  &:hover {
		background: #f0f0f0;
	  }
	}

	span ~ span {
	  border-left: none;
	}

	span:first-child {
	  border-radius: 3px 0 0 3px;
	}

	span:last-child {
	  border-radius: 0 3px 3px 0;
	}
  }

  #current-time {
	margin-left: 12px;

	.text {
	  margin-left: 5px;
	}
  }
}
