
#login-message {
  margin: 0 auto;
  margin-top: 70px;

  text-align: center;

  font-size: 26px;
  position: relative;
  max-width: 50vw;

  color: #333;

  em {
	white-space: nowrap;
  }

  span.title {
	line-height: 20px;
  }

  span.quote {
	font-size: 120px;
	line-height: 20px;
	color: #999;
	vertical-align: middle;
  }

  span.quote:last-child {
	margin-top: 60px;
	position: absolute;
	margin-left: 9px;
  }
}
