#page #content .body, #markdown .render {
  code {
	border-radius: 2px;
	padding: 2px 4px;
	margin: 0 5px
  }

  code, pre {
	background-color: #fdfdfd;
  }

  pre {
	font-family: monospace;
	padding: 15px 20px;
	border-radius: 3px;
	margin: 10px 0;
	overflow-x: auto;
	border: 1px #ccc solid;
  }

  pre code {
	margin: 0;
	padding: 0
  }

  ul ul li, ol ul li {
	list-style: circle;
  }

  ul li {
	display: list-item;
	list-style: disc;
	width: 100%;
  }

  ol li {
	list-style: decimal;
	width: 100%;
  }

  ul, ol {
	ul, ol {
	  border-left: 1px #f5f5f5 solid;
	  margin: 5px 0;
	  padding-left: 3em;
	  margin-left: -1em
	}

	margin: 1em 0 1em 2em;
	padding: 0;
  }

  p ~ p {
	margin: 1em 0 0;
  }

  li {
	display: list-item;
	text-align: -webkit-match-parent;
  }

  th, td {
	padding: 5px 15px
  }

  th {
	background-color: #f7f7f7
  }
}
