#markdown {
  display: none;
  min-width: 400px;
  max-width: 800px;

  margin: 0 auto;

  &[data-view] {
	display: block;
  }

  &[data-view="raw"] {
	.raw {
	  top: 0;
	}
  }

  .raw {
	position: fixed;
	left: 0;
	top: -110vh;

	width: 100vw;
	height: 100vh;

	background: rgba(255, 255, 255, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;

	transition: top 300ms;

	textarea {
	  width: 80vw;
	  height: 60vh;
	  padding: 10px;
	  box-sizing: border-box;
	}
  }

  .render {
	padding: 20px 0 80px;
  }
}
