
#open-list {
  display: none;

  [data-open-list="true"] & {
	display: block;
  }
}

.page-actions {
  position: fixed;
  top: 20px;
  right: 20px;

  .action {

	padding: 10px;
	display: inline-block;
	background: rgba(0, 0, 0, 0.05);
	width: 22px;
	height: 22px;

	border-radius: 3px;
	transition: all 300ms;

	cursor: pointer;

	vertical-align: top;

	z-index: 10000;

	.fa {
	  position: relative;
	  top: 0;
	  left: 5px;
	  transition: all 300ms;
	  color: rgba(0, 0, 0, 0.8);
	}

	&:hover {
	  border-radius: 50%;
	  background: rgba(0, 0, 0, 0.2);

	  .fa {
		color: rgba(0, 0, 0, 1);
		font-size: 20px;
	  }
	}

	&.refresh {

	  &:hover {
		.fa {
		  left: 2px;
		  top: 1px;
		}
	  }
	}

	&.toggle-raw {

	  &:hover {
		.fa {
		  left: 2px;
		  top: 1px;
		}
	  }
	}

	&.open {
	  .fa {
		left: 3px;
		top: 1px;
	  }

	  &:hover {
		.fa {
		  left: 1px;
		  top: 2px;
		}
	  }
	}
  }
}
