@import "variables";

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

body {
	background: #ccc;
}

#page {
	max-width: 640px;
	background: @light-grey;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
	position: relative;
}

a {
	&:hover {
		text-decoration: none;
	}
	&:active {
		opacity: 0.6;
	}
}

.setting-toggle {
	padding: 6px;
	background: @blue;
	position: fixed;
	right: 0;
	border-bottom-left-radius: 3px;

	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;

	top: 5px;
	border-top-left-radius: 3px;
	background: #999;
	opacity: 0.5;

	.fa {
		font-size: 24px;
		color: @white;
	}

	//  display: none;
	z-index: 900;
}

.button {
	padding: @grid/2 @grid*1;
	display: inline-block;
	cursor: pointer;

	&.button-select {

		.fa {
			width: 15px;
		}
		.fa-check-square-o {
			display: none;
		}

		&.selected {
			.fa-check-square-o {
				display: inline-block;
			}
			.fa-square-o {
				display: none;
			}
		}
	}
}

.search {
	padding: @grid @grid*2;
	input {
		width: ~"calc(100% - 50px)";
	}

	.fa-search {
		color: @white;
		vertical-align: middle;
		height: 20px;
		width: 35px;
		text-align: center;
	}
}

.text {
	box-shadow: inset 0 1px 3px #cccccc;
	border: 1px #ccc solid;
	outline: none;
	border-radius: 3px;
	font-size: 18px;
}

.settings {
	background: @dark-grey;
	padding: @grid/2;
	position: fixed;
	z-index: 800;
	width: 100vw;
	box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;
	left: 0;
	display: none;
	margin-top: 5px;

	.button {
		color: @white;
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}

	.more {
		display: none;
	}
}

.show-settings {
	.settings {
		display: block;
	}

	.setting-toggle {
		top: 3px;
		background: transparent;
	}
}

.more-settings {
	background: @blue;
	padding: @grid*9 @grid @grid;
	display: none;
	a {
		color: @white;
		display: block;
	}
}

#content {
	padding: @grid*4 @grid*1.5 50vh;
}

#items {

	> h2 {
		color: @text-black;
		border-bottom: 1px @text-black solid;
		padding: 0 @grid;
		margin-bottom: @grid;
	}

	.parent, .children,
	.parent *,
	.children * {
		font-size: 12px;
		opacity: 0.5;
	}

	.parent, .parent * {
		opacity: 0.8;
	}
	.parent {
		padding: @grid @grid 0;
	}

	[data-item] {
		margin: @grid 0;

		a.field {
			background: #FFFDBb;
			color: @text-black;
		}

		&.selected {
			.item {
				border: 1px @medium-grey solid;
				box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
			}
		}

		.aui-lozenge {
			text-transform: none;
			font-size: 0.9em;
			font-weight: normal;
			opacity: 0.5;
			border-width: 0;
			color: @text-black;

			> span.g {
				opacity: 0.35;
				font-size: 0.8em;
				line-height: 1.2em;
				max-width: 60px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				vertical-align: bottom;
				display: none;
			}

			&.aui-lozenge-subtle {
				border-width: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				opacity: 1;
			}
			background-color: @light-grey;
		}

		&.reviewed, &.removed {
			opacity: 0.4;
		}

		.item {
			font-size: 18px;
			border: 1px @ash-grey solid;
			border-radius: 2px;
			padding: @grid*1.5;
			margin: @grid/2 0;
			background: @white;
			box-sizing: border-box;

			a.field, a.field .aui-lozenge {
				color: transparent;
				cursor: pointer;
				background: #FFFDBb;

				&.seen, &.seen .aui-lozenge {
					color: @text-black;
				}
			}

			img {
				max-width: 100%;
				display: block;
			}

			.aui-lozenge {
				display: inline;
				padding: 0;
				color: @text-black;
				opacity: 1;
			}
		}

		.stats {
			font-size: 11px;
			font-style: italic;
			//      text-align: right;
			padding: 0 @grid;

			label {
				color: @grey;
				margin-left: 4px;
				font-size: 9px;
			}
		}

		.children {
			border-left: 1px #ccc solid;
			margin-left: @grid;
			padding-left: @grid;
			> div {
				margin: @grid 0;
			}
		}

		+ [data-item] {
			margin-top: @grid*2;
		}
	}

}

section#banner {
	width: 100%;
	max-height: 60vh;
	padding: 0;
	position: relative;
	overflow: hidden;
	margin-top: -5px;

	img {
		width: 100%;
		position: absolute;
		bottom: 0;
		z-index: 50;
	}

	img.placeholder {
		visibility: none;
		position: static;
		z-index: 0;
	}

	span {
		position: absolute;
		bottom: @grid;
		left: @grid*2;
		font-size: 24px;
		color: @white;
		z-index: 100;
	}
}

#item-spinner {
	width: 100%;
	margin-top: @grid*10;
	z-index: 20;
}

#no-more {
	width: 100%;
	color: #707070;
	font-size: 24px;
	text-align: center;
	margin-top: @grid*6;

	display: none;
}

#page.no-more-review {
	#no-more {
		display: block;
	}

	#item-spinner {
		display: none;
	}
}

.item-stat {
	padding: 30pt 20pt 15pt;

	span.number {
		font-size: 40pt;
	}
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	background: #ccc;
	max-width: 640px;
	box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;

	.main {
		.undo-remove {
			display: none;
		}

		&.removed {
			.remove {
				display: none;
			}
			.remove.undo-remove {
				display: inline-block;
			}
		}
	}

	.highlighted.button {
		opacity: 0.5;
	}

	.expanded {
		transition: bottom 350ms;
		bottom: -600px;
		position: fixed;
		max-width: 640px;
		width: 100%;
		background: #ccc;
	}

	.button {
		padding: 10px 15px;
		background: #ccc;
		margin: 0;
		color: @text-black;
	}

	.button ~ .button {
		margin-left: -4px;
	}
}

.hidden {
	display: none !important;
}


