
#sidebar {

  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 280px;
  border-right: 1px #ccc solid;
  background-color: #f5f5f5;
  z-index: 400;

  .tabs-wrapper {
	text-align: center;
  }

  .tabs {
	border: 1px #ccc solid;
	background: #fff;
	border-radius: 3px;
	display: inline-block;
	margin: 25px 15px 15px;
	font-size: 0;

	[data-tab] {
	  font-size: 14px;
	  display: inline-block;
	  padding: 4px 8px;
	  cursor: pointer;
	}
  }

  [data-tab-content] {
	display: none;
	padding-bottom: 40vh;
  }

  .actions {
	a {
	  font-size: 14px;
	  font-weight: normal;
	}
  }

  &[data-tab-selected="remind"] {
	[data-tab="remind"] {
	  background: #f0f0f0;
	}

	[data-tab-content="remind"] {
	  display: block;
	}
  }

  &[data-tab-selected="search"] {
	[data-tab="search"] {
	  background: #f0f0f0;
	}

	[data-tab-content="search"] {
	  display: block;
	}
  }

  &[data-tab-selected="remove"] {
	.reverted {
	  opacity: 0.2;

	  a:hover {
		text-decoration: none;
	  }
	}

	[data-tab="remove"] {
	  background: #f0f0f0;
	}

	[data-tab-content="remove"] {
	  display: block;
	}
  }

  &[data-tab-selected="update"] {
	[data-tab="update"] {
	  background: #f0f0f0;
	}

	[data-tab-content="update"] {
	  display: block;
	}
  }

  [data-tab-content="remove"], [data-tab-content="update"], [data-tab-content="remind"] {
	padding: 12px 12px 40vh;

	.actions {
	  position: absolute;
	  top: 0;
	  right: 13px;
	}

	[data-key] {
	  cursor: pointer;
	}

	.item-block {
	  clear: both;
	  background: #fff;
	  border-radius: 3px;
	  border: 1px #ccc solid;
	  margin: 12px 0;

	  &[data-can-click="true"] .light-item {
		cursor: pointer;
	  }

	  &[data-can-click="true"] .light-item:hover {
		background: #f0f0f0;
	  }
	}

	.light-item {
	  width: 100%;
	  padding: 2px 5px;
	  box-sizing: border-box;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
  }

  [data-tab-content] {
	.light-indexed-item {
	  width: 100%;
	  padding: 2px 5px;
	  box-sizing: border-box;

	  position: relative;

	  cursor: pointer;

	  &.touched {
		opacity: 0.2;
	  }

	  &:hover {
		background: #f5f5f5;
	  }

	  .list-title, .item-content {
		width: 100%;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
	  }

	  .list-title {
		color: #999;
		font-style: italic;
	  }

	  .main-window {
		position: absolute;
		right: 5px;
		top: 5px;
		opacity: 0;

		font-size: 12px;

		cursor: pointer;

		padding: 2px 4px;
		display: inline-block;
		background: @bg-sidebar-item-action;
		border-radius: 3px;
	  }

	  &:hover {
		.main-window {
		  opacity: 0.7;

		  &:hover {
			opacity: 1;
		  }
		}
	  }
	}
  }

  [data-tab-content] {
	h4 {
	  padding: 0 14px;
	  width: 100%;
	  box-sizing: border-box;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;

	  position: relative;
	}
  }

  [data-tab-content="remind"] {

	h4 .in-future {
	  color: #aaa;
	}

	input.search {
	  font-size: 12px;
	  line-height: 14px;
	  padding: 0 5px;
	  height: 20px;
	  width: 100%;

	  margin-bottom: 10px;
	}

	.result-list {
	  margin: 10px 0;
	}
  }

  .content-scrollable {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
  }

  .content-scrollable > h3 {
	font-size: 16px;
	padding: 8px 0 4px 15px;
	margin: 0;

	&:first-child {
	  padding-top: 18px;
	}
  }

  #tag-area {
	padding: 0 10px 120px;
	.filter {
	  padding-bottom: 5px;
	  input {
		font-size: 12px;
		line-height: 14px;
		height: 20px;
		width: 100%;
		padding: 0 5px;

		&:focus {
		  background: #e2f0ff;
		  border-color: #999;
		}
	  }
	}

	.tags {
	  padding: 0 5px;
	}
  }

  ul {
	margin-top: 0;
	padding: 0 10px;
	font-size: 0;
	li {
	  list-style: none;
	  > a {
		color: #333;
		background: #fff;
		display: inline-block;
		max-width: 100%;
		padding: 0 8px;
		border-radius: 3px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		border: 1px #ccc solid;
		font-size: 14px;
		line-height: 20px;
		cursor: pointer;
		max-height: 3.1em;
		overflow: hidden;
	  }

	  i {
		font-size: 11px;
		margin-left: 5px;
	  }
	}

	li + li a {
	  margin-top: 3px;
	}
  }

  .result-div li {
	padding-right: 0;
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	cursor: pointer;
	> .item .twix {
	  position: static;
	}

	> .item {
	  max-width: none;
	  width: 100%;
	  overflow: hidden;
	  white-space: nowrap;
	  display: inline-block;
	  text-overflow: ellipsis;
	  margin-bottom: -4px;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;

	  br {
		display: none;
	  }
	}
  }

  .result-div li.selected {
	> *, h1, h2, h3, h4, h5, h6, a {
	  width: 100%;
	}
  }

  .saved-search .result-div li.selected {
	> *, h1, h2, h3, h4, h5, h6, a {
	  color: @text-black;
	  .twix {
		* {
		  color: @text-black;
		}
	  }
	}
  }

  #splitter {
	position: absolute;
	right: -10px;
	width: 5px;
	padding-left: 5px;
	color: #ccc;
	cursor: col-resize;
	top: 0;
	bottom: 0;
	border-left: 1px #ccc solid;
	left: 280px;
	&:hover {
	  color: #999;
	}

	span {
	  position: absolute;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}
  }
}

#page #sidebar .search-list {
  padding: 10px;

  input {
	font-size: 12px;
	line-height: 14px;
	padding: 0 5px;
	height: 20px;
	width: 100%;
  }

  .list-result {
	display: block;
	max-height: 200px;
	margin: 0;
	background: #ffffff;
	padding: 2px 0;
	border-radius: 2px;
	border: 1px #cccccc solid;
	margin-top: 5px;
	overflow-y: auto;
	position: relative;

	font-size: 15px;

	.list-item {
	  padding: 2px 8px;
	  cursor: pointer;

	  color: #333;
	  text-decoration: none;
	  position: relative;

	  display: block;

	  &[data-list-fav=true] {
		background: #fff9db;
	  }

	  &:hover, &.hover {
		background: #ebf2f9;
	  }

	  &.no-result {
		font-size: 14px;
		padding: 15px 4px;
	  }

	  .title {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: 2px;

		width: 100%;
	  }

	  .button {
		position: absolute;
		right: 5px;
		top: 5px;
		opacity: 0;

		font-size: 12px;

		cursor: pointer;

		padding: 2px 4px;
		display: inline-block;
		background: @bg-sidebar-item-action;
		border-radius: 3px;
	  }

	  &:hover .button {
		opacity: 0.7;

		&:hover {
		  opacity: 1;
		}
	  }
	}
  }
}
