body.tutorial-body {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-position: center center;

  #page {
	#sidebar, #content {
	  display: none;
	}
  }
}

.tutorial {
  .popup-box {
	width: ~"calc(100% - 400px)";
	max-height: ~"calc(100% - 255px)";
	max-width: ~"calc(100% - 400px)";
	min-height: 120px;

	left: 40px;
	bottom: 200px;
	position: fixed;
	z-index: 9999;
	border-radius: 5px;
	padding: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
	color: #eeeeee;
	display: none;
	margin-left: 40px;
	transition: left 500ms, margin-left 500ms;

	background: rgba(0, 0, 0, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px;

	.popup-inner {
	  text-align: center
	}

	.tutorial .popup-box img {
	  width: 100%;
	  left: 10px
	}
  }

  .dialog-wrapper {
	position: fixed;
	height: 200px;
	left: 0;
	z-index: 2000;
	width: 100vw;
	padding: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	min-width: 700px;
	transition: bottom 800ms;
	bottom: -600px
  }

  .dialog {
	height: 100%;
	margin: 0 -20px;

	.dialog-avatar {
	  position: absolute;
	  right: 40px;
	  margin-top: -350px;
	  height: 300px;
	  overflow: hidden;
	  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
	  margin-top: -220px;
	  right: 50px;
	  width: 220px;
	  border-radius: 5px;

	  background-color: rgb(255, 255, 255);
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: top center;

	  transition: left 500ms, right 500ms;

	  &.left-mode {
		left: -300px;
		right: auto;
	  }
	}

	.dialog-content {
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  position: absolute;
	  background: rgba(0,0,0,0.8);
	  height: ~"calc(100% - 40px)";
	  border: 1px #333333 solid;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  right: 30px;
	  left: 30px;
	  padding: 15px 20px;
	  border-radius: 5px;
	  font-size: 20px;
	  overflow-y: auto;
	  overflow-x: hidden;
	  color: #eeeeee;

	  .has-shadow {
		box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px
	  }

	  ins {
		text-decoration: none;
		opacity: 0
	  }

	  [data-choice] {
		cursor: pointer
	  }

	  .inner {
		width: ~"calc(100% - 60px - 220px)";
		transition: padding-left 500ms;
	  }
	}

  }

  &.avatar-left {
	.dialog {
	  .dialog-avatar {
		right: -330px;

		&.left-mode {
		  left: 50px;
		  right: auto;
		}
	  }

	  .dialog-content {
		.inner {
		  padding-left: 270px;
		}
	  }
	}

	.popup-box {
	  margin-left: 280px;
	}
  }
}


//.tutorial-control {
//  background: #111;
//  padding: 5px 10px;
//  margin: 0 0 0 40%;
//  border-radius: 3px;
//  z-index: 9999;
//
//  bottom: 40px;
//  position: fixed;
//  transition: bottom 800ms;
//
//  &.has-shadow {
//    box-shadow: rgba(0,0,0,0.4) 0 0 2px;
//  }
//
//  a {
//    color: #ccc;
//    cursor: pointer;
//    &:hover {
//      text-decoration: underline;
//      color: #eee;
//    }
//  }
//}
//
//.tutorial {
//
//  .dialog-wrapper {
//    position: fixed;
//    height: 200px;
//    left: 0;
//    z-index: 2000;
//    width: 100vw;
//    padding: 20px;
//    box-sizing: border-box;
//    -moz-box-sizing: border-box;
//    min-width: 700px;
//
//    transition: bottom 800ms;
//    bottom: -600px;
//
//    .dialog {
//      height: 100%;
//      margin: 0 -20px;
//
//      .dialog-avatar {
//        position: absolute;
//        right: 40px;
//        margin-top: -350px;
//        height: 500px;
//        overflow: hidden;
//
//        img {
//          width: 320px;
//        }
//      }
//
//      .dialog-content {
//        -webkit-user-select: none;
//        -moz-user-select: none;
//        -ms-user-select: none;
//        user-select: none;
//        position: absolute;
//        background: #111;
//        height: ~"calc(100% - 40px)";
//        width: 60%;
//        border: 1px #333 solid;
//        box-sizing: border-box;
//        -moz-box-sizing: border-box;
//        right: 30px;
//        padding: 15px 20px;
//        border-radius: 5px;
//        font-size: 20px;
//        overflow-y: auto;
//        overflow-x: hidden;
//        color: #eee;
//
//        [data-choice] {
//          cursor: pointer;
//        }
//
//        .has-shadow {
//          box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px;
//        }
//
//        ins {
//          text-decoration: none;
//          opacity: 0;
//        }
//      }
//    }
//
//    .quest-box {
//      background: rgba(0,0,0,0.8);
//      height: ~"calc(100% - 54px)";
//      position: absolute;
//      width: 100%;
//      top: 0;
//      margin: 27px -20px;
//      box-sizing: border-box;
//      -moz-box-sizing: border-box;
//
//      &.has-shadow {
//        box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
//      }
//
//    }
//  }
//
//  .popup-box {
//    width: ~"calc(100% - 400px)";
//    max-height: ~"calc(100% - 255px)";
//    min-height: 120px;
//    background: rgba(0,0,0,0.8);
//    left: 40px;
//    bottom: 220px;
//    position: fixed;
//    z-index: 9999;
//    border-radius: 5px;
//    padding: 20px;
//    box-sizing: border-box;
//    -moz-box-sizing: border-box;
//    overflow-y: auto;
//    max-width: ~"calc(100% - 400px)";
//    overflow-x: hidden;
//    color: #eee;
//
//    display: none;
//    transition: left 800ms;
////    opacity: 0;
//
//    box-shadow: rgba(0,0,0,0.3) 0 0 6px;
//
//
//    .popup-inner {
//      text-align: center;
//    }
//
//    img {
//      width: 100%;
//      left: 10px;
//    }
//  }
//
//  .quest-box {
//    padding: 15px 20px;
//
//    .quest-inner {
//      color: #ddd;
//      width: ~"calc(40% - 15px)";
//      overflow-x: hidden;
//      overflow-y: scroll;
//      height: 100%;
//      color: #ddd;
//
//      h4 { color: #999; margin-top: 10px;}
//      ul { margin: 0 0 0 20px;}
//
//      li {
//        position:  relative;
//        cursor: pointer;
//        &:hover {
//          text-decoration: underline;
//        }
//        .fa {
//          display: none;
//          position: absolute;
//          left: -20px;
//          top: 2px;
//        }
//
//        &.completed {
//          color: #9EFFA5;
//          .fa-check {
//            display: inline-block;
//          }
//        }
//
//        &.building {
//          color: #666;
//        }
//
//        &.current {
//          .fa-check {
//            display: none;
//          }
//
//          .fa-caret-right {
//            display: inline-block;
//            left: -15px;
//          }
//        }
//      }
//
//      padding-bottom: 30px;
//      box-sizing: border-box;
//      -moz-box-sizing: border-box;
//
//    }
//  }
//
//}
