@color-tan: #f1a257;
@color-yellow: #f6c342;
@color-medium-yellow: #ffe9a8;
@bright-blue-2: #3b7fc4;
@pale-blue: #ebf2f9;
@light-grey: #f5f5f5;
@medium-grey: #707070;
@ash-grey: #ccc;
@grey: #999999;
@dark-grey: #666;
@blue: #205081;
@white: #fff;
@text-black: #333;
@grid: 10px;

@item-selected: #eefff5;
@item-selected-lozenge: #e5fdf5;