body {
    /*background-image: url(http://gitlab.baidu.com/be-fe/befe-doc/raw/master/script/slides/src/slides-background.jpg);*/
    /*background-size: cover;*/
    /*background-position: 50%, 50%;*/
    padding-top: 0 !important;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6,
.reveal div, .reveal ul li {
    font-family: "League Gothic", monospace, Impact, sans-serif;
}

.reveal .slides section {
    /*color: #555;*/
}

.reveal pre code {
	padding: 20px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
}

.reveal pre {
	border-radius: 5px;
}

.reveal .slides section h1,
.reveal .slides section h2 {
    font-size: 1.7em;
    /*color: #333*/
}

.reveal .slides section h3 {
    font-size: 1.55em;
    /*color: #333;*/
}

.reveal .slides section h4 {
    font-size: 1.2em;
    /*color: #333;*/
}

.reveal img {
    margin: 0;
    padding: 0;
    max-height: 18em;
}

.reveal .close {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
}

.reveal .close a {
    display: none;
    left: 40px;
}

.reveal .close:hover a {
    display: inherit;
}

.reveal ul, .reveal ol {
	min-width: 20em;
}
