<?php
$this->Html->less('main.less', $appVersion, array('block' => 'css'));

$this->Html->script ('pages/main.js?ver=' . $appVersion, array(
    'block' => 'script'
));
?>
<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
<header>
    <!-- Header if any -->
</header>
<section id="content">
	<aside id="stream-view">

	</aside>
	<section id="list-groups">
		<iframe src="/list/409725447a8a67b05b/75er_81754"></iframe>
		<iframe src=""></iframe>
		<iframe src=""></iframe>
	</section>
</section>

<div id="hidden-zone" class="hidden">
    <!--    Some hidden contents-->
</div>

<footer>
    <!--    Footer if any-->
</footer>
